.app-counter {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: fit-content;
    border: 1px solid blueviolet;
    border-radius: 12px;
    padding: 24px;

    .app-counter-count {
        font-size: 44px;
        text-align: center;
    }

    .app-counter-button {
        cursor: pointer;
        width: fit-content;
        margin: auto;
    }
}
