@import "./../../../variables.scss";

.app-counter {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 24px;
    border: 1px solid $theme-primary;
    background-color: $surface;
    border-radius: 12px;
    box-shadow: $boxShadow;

    .app-counter-count {
        font-size: 6rem;
        text-align: center;
    }

    .app-counter-button {
        cursor: pointer;
        width: fit-content;
        margin: auto;
    }
}
