@import "./../variables.scss";

.main-app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .app-container {
        min-height: calc(100vh - $nav-height);
        background-color: $surface;

        &.up {
            background-color: $red;
        }
        &.down {
            background-color: $green;
        }
        .hint {
            display: flex;
            align-items: center;
            margin: 24px 0 0 24px;

            mat-icon {
                scale: 0.7;
                color: #7b7b7b;
            }
        }

        &.up .hint,
        &.down .hint {
            mat-icon {
                color: $font-primary;
            }
        }
    }
}
