@import "./../variables.scss";

.main-app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .main-app-content {
        min-height: calc(100vh - $nav-height);
        background-color: $surface;
        &.up {
            background-color: $red;
        }
        &.down {
            background-color: $green;
        }
    }
}
