<section class="page page-reset">
    <div class="reset-content">
        <div class="reset-header">
            <span class="info">{{ this.countService.count }}</span>
            <p class="small">Compte</p>
        </div>
        <form class="reset-form" [formGroup]="birthDateForm" (submit)="onSubmit()">
            <mat-form-field>
                <mat-label>Date de naissance</mat-label>
                <input matInput formControlName="birthDate" [matDatepicker]="picker" [max]="today" />
                <mat-datepicker-toggle matIconSuffix [for]="picker" [disabled]="countService.count === 0"/>
                <mat-datepicker #picker />
            </mat-form-field>
            <button mat-stroked-button [disabled]="!birthDateForm.valid">
                Valider
            </button>
        </form>
    </div>
</section>
