@use "@angular/material" as mat;
@include mat.core();

$ng-papernest-theme: mat.define-theme(
    (
        color: (
            theme-type: light,
            primary: mat.$violet-palette,
            tertiary: mat.$blue-palette,
        ),
        typography: (
            plain-family: "Poppins",
            brand-family: Open Sans,
            bold-weight: 900,
            medium-weight: 500,
            regular-weight: 300,
        ),
        density: (
            scale: 0,
        ),
    )
);

:root {
    @include mat.all-component-themes($ng-papernest-theme);
    @include mat.button-overrides(
        (
            container-shape: 6px,
            outline-color: blueviolet,
        )
    );
    @include mat.datepicker-overrides(());
}
