@import "./material.scss";
@import "./variables.scss";

/* CSS Reset */
*,
::after,
::before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: $font-primary;
}

a,
button,
ul,
li {
    all: unset;
}

/* Generic styles */
.page {
    padding: 32px 48px;
    max-width: 1200px;
    margin: auto;
}

.small {
    margin: 0;
    font-size: 12px;
}
