*,
::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #000;
}

a,
ul,
li {
    all: unset;
}
