/* COLORS */
$surface: #f1f1f1;

$theme-primary: blueviolet;
$font-primary: #000;

$red: #e74c3c;
$green: #27ae60;

/* COMMON PROPERTIES */
$boxShadow: 0 2px 6px rgba(0, 0, 0, 0.15);

/* SIZES */
$nav-height: 62px;
