@import "./../../../variables.scss";

.app-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: $nav-height;

    .app-navigation-brand {
        display: flex;
        align-items: center;
        gap: 8px;
        img {
            width: 22px;
            height: 22px;
        }
    }

    .app-navigation-items {
        display: flex;
        gap: 24px;
        li {
            cursor: pointer;
            width: 45px;
            text-align: center;
            &.active {
                color: $theme-primary;
                border-bottom: 2px solid $theme-primary;
            }
        }
    }
}
